
/* Allgemein */ 

* {
	font-family: verdana,arial,sans-serif;
	padding: 0;
	margin: 0;
}

body{
	margin-left: 10%;
	margin-right: 10%;

	
}

h1 {
	font-size: 18pt;
	text-transform:uppercase;
	letter-spacing:2px;
	background-color: #E7EEF6;
 	border-radius: 5px 5px 5px 5px;
}
h3 {
	background-color: #E7EEF6;
    padding: 2px;
    color: steelblue;
}

input,
select {
	
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #AAAACC;
	color: #000000;
	font-size: 13px;
	margin-left: 2px;
	padding-left: 2px;
}


table {
	font-family: verdana,arial,sans-serif;
	font-size:7pt;
	color:#333333;
	border-width: 1px;
	border-color: #ccccff;
}

/* Fromulare */

form th{
	background-color: #CECEF6;
	border-radius: 2px;
	padding: 5px;
}

.showtable th{
	background-color: #CECEF6;
	border-radius: 2px;
	padding: 5px;
}
.showtable td{
	font-size:7pt;
	
	
}



/* Layout */ 

.header {
	padding: 10px;
	font-family:Sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: white;
	border-radius: 5px;
	padding: 1em;
	margin:2em;
	text-shadow: 2px 2px 2px #000;
	background-color: steelblue;

	
}
.header h1 {
	padding: 0;
	margin: 0;
	display: inline;
	background-color: steelblue;

}

.content {
	margin: 0 auto;
	padding: 10px;
	display: inline-block;
	width: 85%;
}

.smallicon {
	height: 20px;
	width: 20px;
	border: 0px;
}
.fault{
	color: black;
	background: none repeat scroll 0 0 #ff9999;
	
}
.list_button {
	background-color: white;
	color: black;
}
.list_button:hover {
	background-color: #9999ff;
	color: black;
}


 /* CALENDAR SECECTION   */
.calendar{
	border-collapse: collapse;
	font-family: verdana,arial,sans-serif;
	font-size:7pt;
	color:#333333;
	float:left;
	margin-top: 25px;
	
}
.cal_col_even,
.cal_col_odd{
	width: 13%;
}

table.cal_entry td {
 
}

.cal_type_1  {
	background-color: #5882FA;
}

.cal_type_1_finshed {
	background-color: #ffff00;
}


.cal_type_2 {
	background-color: #33ccff;
}


.cal_type_3  {
	background-color: #9900cc;
}


.cal_user{
	background-color: lightblue;
}

.cal_timerow_unused{
	opacity: .5;
}

.cal_timerow_odd {
	background-color: #9999FF;
}

.cal_timerow_even {
	background-color: #eeeeee;
}

.calender_today{
	background-color: #ff7777;
}
.checkbox_list li{
	list-style: none;
	display: inline;
}
.cal_table_head{
	border-bottom: 1px solid grey;
	background-color:  #CED8F6;;
}
.cal_timeline{
  
	padding-right: 2px;
	
}
table.cal_table_large {
  	width: 100%;
	
	font-family: verdana,arial,sans-serif;
	font-size:12pt;
	color:#333333;
	border-collapse: collapse;
	background-color: #CED8F6;
	
}
table.cal_table_large td,
table.cal_table_large tr{

	height: 50px;

}
table.cal_table_large  td.cal_entry{
	vertical-align: top;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.5)
}
table.cal_table_large div.cal_entry_content{

	overflow: hidden;
}
table.cal_table_medium {
  	width: 100%;
	
	font-family: verdana,arial,sans-serif;
	font-size:8pt;
	color:#333333;
	border-collapse: collapse;
	background-color: #CED8F6;
	
}

table.cal_table_medium td,
table.cal_table_medium tr{

	height: 30px;

}
table.cal_table_medium  td.cal_entry{
	vertical-align: top;
	cursor: pointer;
	border-bottom: 1px solid  #E6E6E6;
	border-right: 1px solid #E6E6E6;
}
table.cal_table_medium  td.cal_entry div.cal_entry_content_over{
	display: none;
	position: absolute;
	font-size: 10pt;
 	background-color: #EEEEEE;
	
	padding:10px;
	margin-left: 20px;
	margin-top: 20px;
	position: fixed;
	width: 20em;
	
	-webkit-box-shadow: 2px 3px 3px 2px #000000;
	-moz-box-shadow: 2px 3px 3px 2px #000000;
	box-shadow: 2px 3px 3px 2px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


table.cal_table_medium div.cal_entry_content{

	overflow: hidden;
}
table.cal_table_medium div.cal_entry_content p{
	margin-bottom: 5px;
}
table.cal_table_small {
  	width: 100%;
	
	font-family: verdana,arial,sans-serif;
	font-size:5pt;
	color:#333333;
	border-collapse: collapse;
	background-color: #CED8F6;
	
}
table.cal_table_small td,
table.cal_table_small tr{

	height: 10px;

}
table td.cal_timeline_small {
	width: 3%;
	padding-right: 3px;
}

table.cal_table_small  td.cal_entry{
	vertical-align: top;
	cursor: pointer;


}
table.cal_table_small div.cal_entry_content{

	overflow: hidden;
}

table.cal_table_micro {
  	width: 100%;
	
	font-family: verdana,arial,sans-serif;
	font-size:5pt;
	color:#333333;
	border-collapse: collapse;
	background-color: #CED8F6;
	
}
table.cal_table_micro td,
table.cal_table_micro tr{

	height: 10px;

}
table td.cal_timeline_micro {
	width: 3%;
}

table.cal_table_micro td.cal_entry{
	vertical-align: top;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.5)
}
table.cal_table_micro div.cal_entry_content{

	overflow: hidden;
}






table.cal_table_user {
	font-family: verdana,arial,sans-serif;
	font-size:5pt;
	color:#333333;
	border-collapse: collapse;
	border: 0;
	display: table-cell;
	
}
div.cal_user_day {
	float:left;
	border-left: 1px solid gray;
}
div.cal_user_day th {
	text-align: center;
}
div.cal_day {
	 width: 15em;	
}
table.cal_table_user tr:first-child{

	height: 10px;

}

td.cal_week_col{

	width: 1em;

}
table.cal_table_user th{
	width: 50px;
}
table.cal_table_user td,
table.cal_table_user tr{

	height: 40px;

}
table td.cal_timeline_user {
	width: 3%;
}

table.cal_table_user  td.cal_entry{
	vertical-align: top;
	cursor: pointer;
	border-bottom: 1px solid  #E6E6E6;
	border-right: 1px solid #E6E6E6;

}

table.cal_table_user  td.cal_entry div.cal_entry_content_over{
	display: none;
	position: absolute;
	font-size: 10pt;
 	background-color: #EEEEEE;
	
	width: 20em;
	padding:10px;
	margin-left: 25px;
	margin-top: 25px;
	position: fixed;
	width: 20em;
	
	-webkit-box-shadow: 2px 3px 3px 2px #000000;
	-moz-box-shadow: 2px 3px 3px 2px #000000;
	box-shadow: 2px 3px 3px 2px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
table.cal_table_medium  td.cal_entry div.cal_entry_content_over p,
table.cal_table_user  td.cal_entry div.cal_entry_content_over p{
	padding-bottom: 5px;
}
table.cal_table_medium  td.cal_entry:hover,
table.cal_table_user  td.cal_entry:hover{
	background-color: #FAAC58;
}
table.cal_table_medium  td.cal_entry:hover div.cal_entry_content_over,
table.cal_table_user  td.cal_entry:hover div.cal_entry_content_over{
	display: block;
}

table.cal_table_user div.cal_entry_content{
	width: 50px;
	overflow: hidden;
}





	
.cal_table tbody{
	height: 300px;
}



div #cal_filter{
	position: absolute;
	float:none;
	left: 50%;
	font-size: 8pt;
	font-family: verdana,arial,sans-serif;
	margin: 0 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.cal_filter_head{
	text-align:center;
	color: white;
	background-color: steelblue;
	padding: 2px 5px;
	font-size:10px;
	list-style: none outside none;

	
}
.cal_filter_head:hover{
	background-color: #A9F5F2;
	color: blue;
}

div #cal_filter .checkbox_list li {
	list-style: none outside none;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: block;
	width: 150px;
	background-color: steelblue;
}
div #cal_filter .checkbox_list li:hover{
	background-color: #81DAF5;
}

div.filterusers,
div.filtertypes{
	margin-top: 5px;
	background: rgba(0, 0, 126, 0.3);
}
div.filterusers:hover,
div.filtertypes:hover {
	margin-top: 5px;
	background: rgba(0, 0, 126, 0.9);

}
div.filterusers label,
div.filtertypes label {
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	
	
}




div #open_jobs{
	float:none;
	font-size: 8pt;
	font-family: verdana,arial,sans-serif;
	position: absolute;
	left:65%;
}

.open_jobs_head{
	text-align:center;
	color: white;
	background-color: steelblue;
	padding: 2px 5px;
	font-size:10px;
	list-style: none outside none;
	margin: 0 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 25em;
	margin-bottom: 5px;
}
.open_jobs_head:hover{
	background-color: #A9F5F2;
	color: blue;
}
	
.open_jobs_body{
	height: 40em;
	overflow: auto;
}

.open_jobs_item{
	 background-color: #CEECF5;
	list-style: none outside none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
	margin-top:5px;
	margin-right: 5px;
}
.open_jobs_item:hover{
	 background-color: #81DAF5;
}

div #open_filiale{
	float:none;
	font-size: 8pt;
	font-family: verdana,arial,sans-serif;
	position: absolute;
	left:40%;
}

.open_filiale_head{
	text-align:center;
	color: white;
	background-color: steelblue;
	padding: 2px 5px;
	font-size:10px;
	list-style: none outside none;
	margin: 0 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 25em;
	margin-bottom: 5px;
}
.open_filiale_head:hover{
	background-color: #A9F5F2;
	color: blue;
}
	
.open_filiale_body{
	height: 40em;
	overflow: auto;
}

.open_filiale_item{
	 background-color: #CEECF5;
	list-style: none outside none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
	margin-top:5px;
	margin-right: 5px;
}
.open_filiale_item:hover{
	 background-color: #81DAF5;
}




/* NAVIGATIONS BUTTONS */

.button_selected,
.button_selected:visited,
.button_selected:active { 
			background-color: #0101DF;
			color: white;
			}

.button:hover { 
			background-color: #A9F5F2;
			color: blue; }

.button,
.button:visited
.button:active
 		{ 	display: inline-block; 
			margin: 0px;
			text-align:center;
			color: white;
			border-radius:2px;
			
			padding: 2px 5px;
			font-size:10px;
			text-decoration:none;
			background-color: steelblue;
			cursor: pointer;
			line-height: 15px;
			font-family: verdana,arial,sans-serif;

			
			 }

/* MENU */
.menu {
	
	padding-top: 4px;
 	width: 100px;
	display: block;
	color: white; 
	float:left;
}
.menu a {
	text-decoration: none;
	color: white; 
	font-family:Sans-serif;
	width: 60px;
	display: block;
	xpadding: 0.2em;
}


.menu ul {
	
	padding: 0;
	margin: 0;
}

.menu li {
	list-style: none;
	border-radius:3px;
	margin: 10px;
	padding: 0.5em;
	background-color: steelblue;

	-webkit-box-shadow: 2px 2px 3px 1px #00007a;
	-moz-box-shadow: 2px 2px 3px 1px #00007a;
	box-shadow: 2px 2px 3px 1px #00007a;

}
.menu li:hover {
	background-color: blue;
	color: lightblue;
}

.menu li ul{
	xposition: absolute;
	margin: 0;
		display: block;
}

.menu ul li:hover ul {
	color: black;

	
}

.menu ul li ul li {
	float: none;
	display: block;
	color: white; 
	xmargin: 0.5em;
	background-color: steelblue;
	
}

.usermenu {
	
	padding-top: 4px;
	xbackground-color: #CCCCCC;
	height: 24px;
	color: white; 
	float: right;
}
.usermenu a {
	text-decoration: none;
	color: white; 
}
.usermenu a:hover {

	color: lightblue;
	xtext-shadow: 3px 3px 3px blue;
}

.usermenu ul {
	
	padding: 0;
	margin: 0;
}

.usermenu li {
	float: left;
	list-style: none;
	margin: 0 0.2em 0 0.2em  ;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: steelblue;
}
.usermenu li ul{
	position: absolute;
	display: none;
	
	margin: 0;
}

.usermenu ul li:hover ul {
	
	display: block;
	
}

.usermenu ul li ul li {
	float: none;
	display: block;
	color: white; 
	margin: 0.5em;
	background-color: steelblue;
	
}


/* Tabellen allgemein */


.table_menu_left{
	
	float: left;
	list-style: none outside none;
	margin: 0 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.table_item {
	border-bottom: 1px solid #ccccff ;
}
.table_item:hover {
	background-color: lightblue;
	border-bottom: 1px solid #ccccff ;
	cursor:pointer; 
}

.table_list{
	display: inline-table;
	margin: 0;
	padding: 0;
}
.table_border_left{
	border-left: 2px solid #FFFFFF;
}
.table_border_right{
	xborder-right: 1px solid #ccccff;
}
.table_list li{
	list-style: none;
}
.table_workday{
	background-color: #ffffff;
}
.table_weekend{
	background-color: #ffdddd;
}


table .list ul {
	
	padding: 0;
	margin: 0;
}

table .list li {
	list-style: none;
	margin: 0 0.2em 0 0.2em  ;
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: none;
	position: relative;
	background-color: #E7EEF6;
}
table .list:hover ul li {
	
	display: block;
	
}

.list ul li ul li {
	float: none;
	display: block;
	color: white; 
	margin: 0.5em;
	background-color: steelblue;
	
}

/* Job Styles */

table.job_show{
	display: block;	
	font-size: 10pt;
	padding-top: 35px;
}
table.job_show tr,
table.job_show td{
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
	
	
}
table.job_show th{
	font-weight: bold;
	background-color: #E7EEF6;
}
table.job_component{
	display: block;	
	font-size: 10pt;
}
table.job_component tr,
table.job_component td{
}
table.job_component th{
	font-weight: bold;
	background-color: #E7EEF6;
}

table.job{
	width:100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse: collapse; 
} 

table.job td,
table.job th{
	font-weight: bold;

	padding: .3em;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
table.job thead {
	background-color: #CED8F6;
}
table.job tr.table_item:hover {
	background-color: #E7EEF6;
	cursor:pointer; 
}

table.job tr.table_item:hover {
	background-color: lightblue;
	cursor:pointer; 
}


.job_type_head {
	width: 100%;
	background-color: #CED8F6;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}
.job_type_head:hover {
	background-color: #E0E6F8;
}

div.job_search  {
	margin-top: 10px;
	
}
div.job_search li {
	float:left;
	list-style: none;
	background-color: #E0E6F8;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
		
}

.pageing{
	width: 100%	;
}

.pageing li {
	float:left;
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
}

.jobfile{
	list-style: none;
	background-color: #E0E6F8;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;	
}
.jobfile a{
	text-decoration:none;
}



/* Payrole */
div.payroll_nav div{
	display: inline-block;
	background-color: steelblue;
	color: white;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
}
div.payroll_nav	 li{
	list-style:none;
	float:left;
	margin-right: 10px;
	font-size: 8pt;	
	cursor:pointer;
	padding: 5px;
	border-radius: 3px;
}
div.payroll_nav	 li:hover,
div.payroll_nav	  li > input:checked  {
	background-color: lightblue;
	}

table.payroll {
	font-family: verdana,arial,sans-serif;
	font-size:5pt;
	color:#333333;
	border-collapse: collapse;
	width: 100%;
	border: 0;
	
}
table.payroll td,
table.payroll th{
	font-weight: bold;
	padding: .3em;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;

}
table.payroll td.number{
	text-align: center;
}

table.payroll thead {
	background-color: #CED8F6;
	border-left: 1px #ccc solid;
	font-size:8pt;
	
}
table.payroll tbody {
	border-left: 1px #ccc solid;
}
table.payroll tfoot {
	font-size: 10pt;
	font-weight: bold;
}
table.payroll tfoot td  {
	border-style:none;
}
table.payroll tfoot td.number  {
	border-top: 4px #ccc solid;
	border-left: 1px #ccc solid;
	border-bottom: 4px #ccc double;
}


table.payroll tr.payrole_entry:hover {
	background-color: #E7EEF6;
	cursor:pointer; 
}

table.payroll tr.table_item:hover {
	background-color: lightblue;
	cursor:pointer; 
}

/* ENTRY section*/
table.entry {
	font-family: verdana,arial,sans-serif;
	font-size:8pt;
	color:#333333;
	border-collapse: collapse;
	width: 100%;
	border: 0;
	
}
table.entry td,
table.entry th{
	font-weight: bold;
	padding: .3em;

}

table.entry thead {
	background-color: #CED8F6;
	border-left: 1px #ccc solid;
	font-size:8pt;
	border-bottom: 1px #ccc solid;
}
table.entry thead th{
		border-left: 1px #ccc solid;
}
table.entry tbody {
	border-left: 1px #ccc solid;
}
table.entry tbody td {
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
table.entry tfoot td input[type=text] {
	width: 100%;
}
width: 100%;

table.entry tfoot {


	font-size:8pt;
}
table.entry tfoot th{
	font-weight: bold;
	background-color: #E7EEF6;
	font-size:8pt;
}



