[mysqld]
datadir = /var/lib/mysql2
max_allowed_packet = 500M
innodb_log_file_size = 256M
sql_mode = NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION # STRICT_TRANS_TABLES,ONLY_FULL_GROUP_BY
